Source: cqlmapper
Section: python
Priority: optional
Maintainer: Andrew Boyle <andrew.boyle@reddit.com>
Build-Depends: debhelper (>= 8),
               python-setuptools (>= 0.6b3), python3-setuptools,
               python-all (>= 2.6.6-3), python3-all,
               python-six (>= 1.6.0), python3-six (>= 1.6.0),
               python-cassandra, python3-cassandra,
               python-nose, python3-nose, python-mock
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-cqlmapper
Architecture: all
Depends: python-six (>= 1.6.0),${misc:Depends}, ${python:Depends}
Description: cassandra object mapper for baseplate (Python 2)
	A baseplate compatible fork of cqlengine that removes the global
	connection in favor of passing a connection object to the methods that
	interact with the database.

Package: python3-cqlmapper
Architecture: all
Depends: python3-six (>= 1.6.0),${misc:Depends}, ${python3:Depends}
Description: cassandra object mapper for baseplate (Python 3)
	A baseplate compatible fork of cqlengine that removes the global
	connection in favor of passing a connection object to the methods that
	interact with the database.
